body.page-bg38 {
  background-image: url("../asset3/background/1st.png"); /* เปลี่ยนลิงก์ภาพตามต้องการ */
  background-size: cover;           /* ขยายให้เต็มจอ */
  background-repeat: no-repeat;     /* ไม่ให้รูปซ้ำ */
  background-position: center;      /* จัดตำแหน่งให้อยู่กลาง */
  height: 100vh;                    /* ให้ body สูงเท่าจอ */
  margin: 0;                        /* ลบช่องว่างรอบหน้าเว็บ */
}

.btnback38 {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;           /* ให้เป็นบล็อกเล็กๆ */
    background-color: #ffffff;       /* สีพื้นหลัง */
    color: rgb(0, 0, 0);                    /* ตัวหนังสือสี */
    padding: 15px 30px;              /* ช่องว่างรอบตัวหนังสือ */
    border-radius: 30px;              /* มุมโค้งมน */
    text-decoration: none;           /* ลบเส้นขีดใต้ */
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
    transition: background-color 0.3s ease;  
}

.btnback38:hover {
    background-color: #ffdcfa;       
}
.picbtnback38 {
    position:absolute;
    
}


.btnnext38 {
    position: absolute;
    bottom: 175px;
    left: 50%;
    transform:translate(-50%, 50%);
    display: inline-block;           /* ให้เป็นบล็อกเล็กๆ */
    background-color: #dc0000;       /* สีพื้นหลัง */
    color: rgb(255, 255, 255);                    /* ตัวหนังสือสี */
    padding: 25px 50px;              /* ช่องว่างรอบตัวหนังสือ */
    border-radius: 30px;              /* มุมโค้งมน */
    text-decoration: none;           /* ลบเส้นขีดใต้ */
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.3s ease;  
}

.btnnext38:hover {
    background-color: #b50000;       
}

.center38 {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center38 h3{
  position: absolute;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: rgb(54, 108, 162);
  border-radius: 1pc 1pc 0pc 0pc;
  padding: 10px 80px;
  font-size: 15px;
  transform:translate(175px, -55px)
}

.center38 img{
    height:100px;
    width: auto;
}

.caution38 {
    display: inline-flex;
    color:black;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px 60px;
    font-size: 15px;
    transform: ()
}