body.page-bg40 {
  background-image: url("../asset3/background/image.png"); /* เปลี่ยนลิงก์ภาพตามต้องการ */
  background-size: cover;           /* ขยายให้เต็มจอ */
  background-repeat: no-repeat;     /* ไม่ให้รูปซ้ำ */
  background-position: center;      /* จัดตำแหน่งให้อยู่กลาง */
  height: 100vh;                    /* ให้ body สูงเท่าจอ */
  margin: 0;                        /* ลบช่องว่างรอบหน้าเว็บ */
}

.btnback40 {
  position: absolute;
  top: 3%;
  left: 3%;
  display: inline-block;           
  background-color: #ffffff;       
  color: rgb(0, 0, 0);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnback40:hover {
  background-color: #ffdcfa;      
  z-index: 2; 
}

.btnnext40 {
  position: absolute;
  bottom: 3%;
  right: 3%;
  display: inline-block;           
  background-color: #0075bd;       
  color: rgb(255, 255, 255);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnnext40:hover {
  background-color: #044e7b;  
  z-index: 2;     
}

.center40 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
  z-index: 1;
}

.center40 h2 {
  transform: translate(10%, 240%); /* เลื่อนลง 180px */ 
  align-items: center;
  font-size: 24px;
  color: #333;
  z-index: 1;
  background-color:rgb(255, 255, 255);
  padding: 40px 70px;
  border-radius: 40px;
  box-shadow: 0 4px 10px
}

.center40 img{
  width: auto;
  height: 300px;
  z-index: 1;
  transform: translate(-25%, 75%);
  
}

.carder40{
  justify-content:center;
  align-items: center;
  position:relative;
  z-index: 0;
}

.buntook40{
  position:absolute;
  width: 450px;
  height: 450px;
  top: -800px;
  left: 50%;
  transform: translateX(-59%);
  z-index: 0;
}

.morsai40{
  position:absolute;
  width: 300px;
  height: 300px;
  top: -635px;
  left: 50%;
  transform: translateX(-145%);
  z-index: 0;
}

.btneye40 img{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(100px, -350px);
  z-index: 2;
}

.wrong40{
  opacity: 0.5;
}

.show40 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
  z-index: 1;
  top: -110%
}

.show40 img{
  width: 700px;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.show40 img:hover {
  transform: scale(1.02);
}

