body.page-bg41::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5); /* สีดำโปร่งใส */
  pointer-events: none; /* ให้คลิกทะลุได้ */
  z-index: 0;
}

body.page-bg41 {
  background-image: url("../asset3/background/image.png"); /* เปลี่ยนลิงก์ภาพตามต้องการ */
  background-size: cover;           /* ขยายให้เต็มจอ */
  background-repeat: no-repeat;     /* ไม่ให้รูปซ้ำ */
  background-position: center;      /* จัดตำแหน่งให้อยู่กลาง */
  height: 100vh;                    /* ให้ body สูงเท่าจอ */
  margin: 0;                        /* ลบช่องว่างรอบหน้าเว็บ */
}

.btnback41 {
  position: absolute;
  top: 3%;
  left: 3%;
  display: inline-block;           
  background-color: #ffffff;       
  color: rgb(0, 0, 0);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnback41:hover {
  background-color: #ffdcfa;      
  z-index: 2; 
}

.btnnext41 {
  position: absolute;
  bottom: 3%;
  right: 3%;
  display: inline-block;           
  background-color: #0075bd;       
  color: rgb(255, 255, 255);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnnext41:hover {
  background-color: #044e7b;  
  z-index: 2;     
}

.center41 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
  z-index: 1;
}

.center41 h2 {
  transform: translate(10%, 240%); /* เลื่อนลง 180px */ 
  align-items: center;
  font-size: 24px;
  color: #333;
  z-index: 1;
  background-color:rgb(255, 255, 255);
  padding: 40px 70px;
  border-radius: 40px;
  box-shadow: 0 4px 10px
}

.center41 img{
  width: 252px;
  height: 356.4px;
  z-index: 1;
  transform: translateY(230px);
  
}

.center41 h1 {
  transform: translateY(400%); /* เลื่อนลง 180px */ 
  font-size: 50px;
  color: #333;
  z-index: 1;
  border-radius: 40px;
}

.carder41{
  justify-content:center;
  align-items: center;
  position:relative;
  z-index: 0;
}

.buntook41{
  position:absolute;
  width: 450px;
  height: 450px;
  top: -800px;
  left: 50%;
  transform: translateX(-59%);
  z-index: 0;
}

.morsai41{
  position:absolute;
  width: 300px;
  height: 300px;
  top: -635px;
  left: 50%;
  transform: translateX(-145%);
  z-index: 0;
}