body.page-bg473 {
  background-image: url("../asset3/background/เสานำ.png"); /* เปลี่ยนลิงก์ภาพตามต้องการ */
  background-size: cover;           /* ขยายให้เต็มจอ */
  background-repeat: no-repeat;     /* ไม่ให้รูปซ้ำ */
  background-position: center;      /* จัดตำแหน่งให้อยู่กลาง */
  height: 100vh;                    /* ให้ body สูงเท่าจอ */
  margin: 0;                        /* ลบช่องว่างรอบหน้าเว็บ */
  overflow: hidden;
}

.btnback473 {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;           
  background-color: #ffffff;       
  color: rgb(0, 0, 0);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnback473:hover {
  background-color: #ffdcfa;      
  z-index: 2; 
}

.btnnext473 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;           
  background-color: #0075bd;       
  color: rgb(255, 255, 255);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnnext473:hover {
  background-color: #044e7b;  
  z-index: 2;     
}

.center473 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
  z-index: 1;
}

.center473 h2 {
  transform: translate(700px, -50px); /* เลื่อนลง 180px */ 
  align-items: center;
  font-size: 24px;
  color: #333;
  z-index: 1;
  background-color:rgb(255, 255, 255);
  padding: 40px 80px;
  border-radius: 30px;
  box-shadow: 0 4px 10px
}

.center473 h2::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 300px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;  /* ครึ่งของความกว้าง */
  border-right: 60px solid transparent;
  border-top: 60px solid #ffffff;        /* ความสูงของติ่ง */
}

.center473 img{
  width: auto;
  height: 400px;
  z-index: 1;
  transform: translate(120px, 350px);
  
}

.carder473{
  justify-content:center;
  align-items: center;
  position:relative;
  z-index: 0;
}

.buntookbon473{
  position:absolute;
  width: 450px;
  height: 450px;
  top: -775px;
  left: 50%;
  transform: translate(-96.5%, 100px);
  z-index: 2;
}

.morsai473{
  position:absolute;
  width: 250px;
  height: 250px;
  top: -620px;
  left: 50%;
  transform: translateX(-145%);
  z-index: 0;
}

.btneye473 img{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(100px, -350px);
  z-index: 2;
}

.wrong473{
  opacity: 0.5;
}

.show473 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
  z-index: 1;
  top: -110%
}

.show473 img{
  width: 700px;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.show473 img:hover {
  transform: scale(1.02);
}


.bottom-triangle473 {
  position:absolute;
  left:29.5%;
  bottom:100px;
  width: 0;
  height: 0;
  border-top: 90px solid transparent;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 150px solid red;
  margin: 10px;
  opacity: 0.5;
  z-index:0;
}

.left-triangle473 {
  position:absolute;
  left: 19.8%;
  bottom: 233px;
  width: 0;
  height: 0;
  border-top: 380px solid rgb(0, 0, 0);     /* ฐาน */
  border-right: 190px solid transparent; /* ด้านตั้ง */
  opacity:0.5;
}

.right-triangle473 {
  position:absolute;
  left: 40.1%;
  bottom: 233px;
  width: 0;
  height: 0;
  border-top: 380px solid rgb(0, 0, 0);     /* ฐาน */
  border-left: 190px solid transparent; /* ด้านตั้ง */
  opacity: 0.5;
  z-index: 0;
}

.top-square473 {
  position: absolute;
  left:30.5%;
  bottom:625px;
  width: 150px;
  height: 85px;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  opacity: 0.5;
}

.number1473 {
  position: absolute;
  left:33.3%;
  bottom:700px;
  width: 80px;                
  height: 80px;              
  border-radius: 50%;        
  background-color: #44b6ff;  
  border: 3px solid white;    
}

.number2473 {
  position:absolute;
  left: 42%;
  bottom: 380px;
  width: 80px;                
  height: 80px;              
  border-radius: 50%;        
  background-color: #44b6ff;  
  border: 3px solid white;    
}

.number3473 {
  position:absolute;
  left:33.3%;
  bottom:50px;
  width: 80px;                
  height: 80px;              
  border-radius: 50%;        
  background-color: #44b6ff;  
  border: 3px solid white;    
}

.number4473 {
  position:absolute;
  left: 24.5%;
  bottom: 380px;
  width: 80px;                
  height: 80px;              
  border-radius: 50%;        
  background-color: #44b6ff;  
  border: 3px solid white;    
}

.text473 img{
  width: 400px;
  position:absolute;
  top:100px;
  right:120px;
}