body.page-bg503 {
  background-image: url("../asset3/background/ถนนแก้.png"); /* เปลี่ยนลิงก์ภาพตามต้องการ */
  background-size: cover;           /* ขยายให้เต็มจอ */
  background-repeat: no-repeat;     /* ไม่ให้รูปซ้ำ */
  background-position: center;      /* จัดตำแหน่งให้อยู่กลาง */
  height: 100vh;                    /* ให้ body สูงเท่าจอ */
  margin: 0;                        /* ลบช่องว่างรอบหน้าเว็บ */
  overflow: hidden;
}

.btnback503 {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;           
  background-color: #ffffff;       
  color: rgb(0, 0, 0);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnback503:hover {
  background-color: #ffdcfa;      
  z-index: 2; 
}

.btnnext503 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;           
  background-color: #0075bd;       
  color: rgb(255, 255, 255);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 2;
}

.btnnext503:hover {
  background-color: #044e7b;  
  z-index: 2;     
}

.center503 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
  z-index: 1;
}

.center503 h2 {
  transform: translate(500px, -300px); /* เลื่อนลง 180px */ 
  align-items: center;
  font-size: 24px;
  color: #333;
  z-index: 1;
  background-color:rgb(255, 255, 255);
  padding: 25px 70px;
  border-radius: 40px;
  box-shadow: 0 4px 10px
}

.center503 img{
  width: auto;
  height: 250px;
  z-index: 1;
  transform: translate(420px, -300px); 
}

.center503, .center503 * {
  pointer-events: none;
}

.carder503{
  justify-content:center;
  align-items: center;
  position:relative;
  z-index: 0;
}

.buntookbon503{
  position:absolute;
  width: 350px;
  height: 350px;
  top: -500px;
  left: 52.6%;
  transform: translateX(-59%);
  z-index: 0;
}

.maipodpai1503 img{
  width:200px;
  height:auto;
  position:absolute;
  top: -670px;
  left:52.5%;
  z-index:20;
}

.maipodpai2503 img{
  width:200px;
  height:auto;
  position:absolute;
  top: -340px;
  left:35.5%;
  z-index:20;
}

.rod1503 img{
    width:200px;
    height:auto;
    position:absolute;
    top: -720px;
    left:35.5%;
    z-index:20;
}

.rod2503 img{
    width:200px;
    height:auto;
    position:absolute;
    top: -125px;
    left:52.5%;
    z-index:20;
}

.rod1503, .rod2503, .maipodpai1503, .maipodpai2503 {
  pointer-events: visiblePainted;
}

.block503 {
  position: absolute;
  right:36.2%;
  bottom:450px;
  width: 130px;
  height: 220px;
  background-color: rgb(224, 31, 31);
  margin: 10px;
  opacity: 0.5;
  z-index: 0;
  border-radius: 50px;
  pointer-events: none;
}

.check503 {
  position: absolute;
  width: 140px;
  height:auto;
  top: 60px;
  right: 560px;
  z-index:2;
}