body.page-bg51 {
  background-image: url("../asset3/background/1st.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.btnback51 {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
    transition: background-color 0.3s ease;  
}

.btnback51:hover {
    background-color: #ffdcfa;       
}

.picbtnback51 {
    position: absolute;
}

.btnnext51 {
    position: absolute;
    bottom: 175px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    background-color: #dc0000;
    color: rgb(255, 255, 255);
    padding: 25px 50px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.3s ease;  
}

.btnnext51:hover {
    background-color: #b50000;       
}

.center51 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center51 h1 {
    background-color: white;
    padding: 70px 50px;
    border-radius: 20px;
}

.center51 img {
    height: 100px;
    width: auto;
}

.pencil51 {
    height: 140px;
    width: auto;
    position: absolute;
    bottom: 460px;
    left: 700px;
    z-index: 2;
}
