body.page-bg500 {
  background-image: url("../asset3/background/ถนนแก้.png"); /* เปลี่ยนลิงก์ภาพตามต้องการ */
  background-size: cover;           /* ขยายให้เต็มจอ */
  background-repeat: no-repeat;     /* ไม่ให้รูปซ้ำ */
  background-position: center;      /* จัดตำแหน่งให้อยู่กลาง */
  height: 100vh;                    /* ให้ body สูงเท่าจอ */
  margin: 0;                        /* ลบช่องว่างรอบหน้าเว็บ */
  overflow: hidden;
}

.btnbackdad4 {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;           
  background-color: #ffffff;       
  color: rgb(0, 0, 0);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 250;
}

.btnbackdad4:hover {
  background-color: #ffdcfa;    
  z-index: 250;  
}

.btnnextdad4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;           
  background-color: #0075bd;       
  color: rgb(255, 255, 255);                   
  padding: 15px 30px;              
  border-radius: 30px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;  
  z-index: 250;
}

.btnnextdad4:hover {
  background-color: #044e7b;      
  z-index: 250; 
}

.btnnextpassdad4 {
  position: absolute;
  top :50%;
  left: 50%;
  transform: translate(-50%, 60%);
  display: inline-block;           
  background-color: #0075bd;       
  color: rgb(255, 255, 255);                   
  padding: 20px 60px;              
  border-radius: 60px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 24px;
  transition: background-color 0.3s ease;  
  z-index: 250;
}

.btnansdad4 {
  position: absolute;
  top :50%;
  left: 50%;
  transform: translate(-100%, 60%);
  display: inline-block;           
  background-color: #fbff27;       
  color: rgb(0, 0, 0);                   
  padding: 20px 60px;              
  border-radius: 60px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 24px;
  transition: background-color 0.3s ease;  
  z-index: 250;
}

.notbtnfaildad4{
  position: absolute;
  top :50%;
  left: 50%;
  transform: translate(15%,75%);
  display: inline-block;           
  background-color: #869398;       
  color: rgb(255, 255, 255);                   
  padding: 20px 60px;              
  border-radius: 60px;              
  text-decoration: none;           
  font-weight: bold;
  font-size: 24px;
  transition: background-color 0.3s ease;  
  z-index: 250;
}

.centerdad4 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
}

.centerfaildad4 {
  display: flex;
  justify-content: center;      /* จัดกลางแนวนอน */
  align-items: center;          /* จัดกลางแนวตั้ง */
  height: 100vh;                /* สูงเท่าจอ */
  position: relative;
}

.centerdad4 h2 { 
  transform: translate(61%, -51%);
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  z-index: 1;
  background-color:rgb(34, 193, 84);
  padding: 50px 150px;
  border-radius: 30px;
  z-index: 210;
}

.centerfaildad4 h2 { 
  transform: translate(61%, -51%);
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  z-index: 1;
  background-color:rgb(193, 34, 34);
  padding: 50px 150px;
  border-radius: 30px;
  z-index: 210;
}

.centerdad4 h3 { /* เลื่อนลง 180px */ 
  transform: translateX(-41%);
  align-items: center;
  font-size: 30px;
  color: #000000;
  z-index: 1;
  background-color:rgb(255, 255, 255);
  padding: 130px 140px;
  padding-top: 160px;
  border-radius: 30px;
  box-shadow: 0 4px 10px black;
  z-index: 200;
}

.centerfaildad4 h3 { /* เลื่อนลง 180px */ 
  transform: translateX(-41%);
  align-items: center;
  font-size: 30px;
  color: #000000;
  z-index: 1;
  background-color:rgb(255, 255, 255);
  padding: 130px 140px;
  padding-top: 160px;
  border-radius: 30px;
  box-shadow: 0 4px 10px black;
  z-index: 200;
}


.centerdad4 img{
  width: auto;
  height: 250px;
  z-index: 1;
  transform: translate(420px, -300px);
  
}

.centerdad4, .centerdad4 * {
  pointer-events: none;
}

.carderdad4{
  justify-content:center;
  align-items: center;
  position:relative;
  z-index: 0;
}

.buntookbondad4{
  position:absolute;
  width: 350px;
  height: 350px;
  top: -500px;
  left: 52.6%;
  transform: translateX(-59%);
  z-index: 0;
}

.car6dad4 img{
  width:250px;
  height:auto;
  position:absolute;
  top: -620px;
  left:51%;
  z-index:20;
  cursor: pointer;
}

.car6dad4.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* ช่วยให้เห็นง่าย */
  pointer-events: none;
}

.car1dad4 img{
  width:250px;
  height:auto;
  position:absolute;
  top: -460px;
  left:34%;
  z-index:20;
  cursor: pointer;
}

.car1dad4.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* ช่วยให้เห็นง่าย */
  pointer-events: none;
}

.car4dad4 img{
  width:250px;
  height:auto;
  position:absolute;
  top: -120px;
  left:42.2%;
  z-index:20;
  cursor: pointer;
}

.car4dad4.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* ช่วยให้เห็นง่าย */
  pointer-events: none;
}

.car5dad4 img{
    width:200px;
    height:auto;
    position:absolute;
    top: -150px;
    left:35.5%;
    z-index:20;
    cursor: pointer;
}

.car5dad4.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* ช่วยให้เห็นง่าย */
  pointer-events: none;
}

.car2dad4 img{
    width:200px;
    height:auto;
    position:relative;
    top: -720px;
    left:35.5%;
    z-index:20;
    cursor: pointer;
}

.car2dad4.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* ช่วยให้เห็นง่าย */
  pointer-events: none;
}

.car3dad4 img{
    width:200px;
    height:auto;
    position:absolute;
    top: -400px;
    left:52.5%;
    z-index:20;
    cursor: pointer;
    
}

.car3dad4.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
  background-color: rgba(255, 0, 0, 0.2); /* ช่วยให้เห็นง่าย */
  pointer-events: none;
}

.bottom-triangledad4 {
  position:absolute;
  left:44.5%;
  bottom:7%;
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 130px solid red;
  margin: 10px;
  opacity: 0.5;
  z-index:0;
}

.left-triangledad4 {
  position:absolute;
  left: 38.2%;
  bottom: 12%;
  width: 0;
  height: 0;
  border-top: 350px solid red;     /* ฐาน */
  border-right: 150px solid transparent; /* ด้านตั้ง */
  opacity:0.5;
}

.right-triangledad4 {
  position:absolute;
  right: 38.2%;
  bottom: 12%;
  width: 0;
  height: 0;
  border-top: 350px solid red;     /* ฐาน */
  border-left: 150px solid transparent; /* ด้านตั้ง */
  opacity: 0.5;
}

.top-squaredad4 {
  position: absolute;
  left:46.5%;
  bottom:55%;
  width: 100px;
  height: 60px;
  background-color: red;
  margin: 10px;
  opacity: 0.5;
}

.overlaydad4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* สีดำโปร่ง */
  z-index: 100; /* ต้องมากกว่าพื้นหลัง แต่ไม่มากกว่าสิ่งที่จะแสดง */
  pointer-events: none;
}