@font-face {
  font-family: 'THSarabunPSK';
  src: url('../fonts//THSarabunPSK.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'THSarabunPSK', sans-serif;
  background: url('../assets/Landing.png') no-repeat center center;
  background-size: cover;       /* ยืดให้เต็มจอโดยรักษาสัดส่วน */
  overflow: hidden; 
  height: 100vh; /* ความสูงเต็มจอ */
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #5da3e6;
  color: white;
  font-size: 20px;
  font-family: 'THSarabunPSK', sans-serif;
  height: 45px;
}

.header1 {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header2 {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo-plus {
  font-weight: bold;
  color: #f9d423;
}

.main-content {
  text-align: center;
  margin-top: 50px;
  padding: 100px;
}

.logo-area h1 {
  font-size: 64px;
  font-family: 'THSarabunPSK', sans-serif;
  color: #49a8ff;
  text-shadow: 3px 3px #fff;
}

.plus {
  color: #ffc107;
  font-size: 70px;
  font-family: 'THSarabunPSK', sans-serif;
  vertical-align: middle;
}

.button-group {
  position: absolute;
  bottom: 200px;   /* ระยะจากขอบล่าง */
  left: 270px;     /* ระยะจากขอบซ้าย */
  display: flex;
  gap: 15px;
}

.btn {
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-signup {
  background-color: #f0f8ff;
  color: #5a5a5a;
  text-decoration: none;
}

.btn-login {
  background-color: #ffffff;
  color: #111111;
  text-decoration: none;
}

.bottom-characters img {
  margin-top: 40px;
  width: 80%;
  max-width: 700px;
}

