.bg-intro3{
  background-size:cover;
  background-repeat: no-repeat;
  height : 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden
}

.box-container-text-b{
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    padding: 0px;
    margin: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-container-b{
    background-color: #ed9ac2;
    border-radius: 50px;
    width: 30%;
    height: 8%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    right: 23%;
    top: 17.5%;
    z-index: 10;
}

.box-b{
  display: flex;
  position: absolute;
  left: 37%;
  top: 30%;
  
}

.box-text-b{
    color: #000000;
    font-size: 28px;
    margin: 0px;
    width: 400px;
    position: absolute;
}

/* .box-text-b1{
    color: #000000;
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
    width: 130%;   
} */

.box-text-b1b{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    width: 500px;
    position: absolute;
    left: 38%;
    bottom: 6%;
}

/* .text{
  color: #ffffff;
  font-size: 24px;
  font-family: 'THSarabunPSK', sans-serif;
  text-align: center;
} */

  /* .next-btn{
    background-color: #0075bd;
    width: 190px ;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 50px;
    bottom: 50px;
    gap: 5px;
    text-decoration: none;
  } */

.next-i3{
  color: #ffffff;
  font-size: 24px;
  font-family: 'THSarabunPSK', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8%;
  margin-right: 18%;
  padding: 0px;
  text-decoration: none;
}

.next-next-3{
  width: 32%;
  padding: 0px;
  margin-right: 0px;
  margin-top: 5px;
  text-decoration: none;
  position: absolute;
  right: 7%;
  bottom: 0.5%;
}

/* .back-btn{
  background-color: #ffffff;
  width: 190px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-left: 20px;
} */

/* .img-back{
  width: auto;
  height: 60px;
  margin-top: 4px;
} */

/* .text-back{
  color: black;
  font-size: 20px;
  font-weight: 900;
  font-family: 'THSarabunPSK', sans-serif;
} */

.img-character3{
  position: absolute;
  left: 5%;
  top: 57.4%;
}

/* .dot-body-b1 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 440px;
  right: 740px;
  z-index: 10;
} */

/* .dot-body-b2 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 390px;
  right: 430px;
  z-index: 10;
} */

.body-b{
  background-color: #ed9ac2;
  width: 18%;
  height: 25%; 
  border-radius: 20px;
  position: absolute;
  left: 6%;
  top: 26%;
}

.img-body-b{
  position: absolute;
  left: 4%;
  top: 28%;
}

/* .line-body-b{
  position: absolute;
  right: 30px;
  bottom: 193px;
  z-index: 100;
} */

.box-body-b{
    width: 10%;
    height: auto;
    position: absolute;
    left: 45%;
    top: 13%;
    z-index: 100;
    
}

.no-underline {
  text-decoration: none;
}

.bot2{
  width: 25%;
  height: 37%;
  position: absolute;
  top: 29%;
  right: 11%;
  border-radius: 10%;
}