.bg-pp3{
  background-size:cover;
  background-repeat: no-repeat;
  height : 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden
}

.text-back-p2{
  color: black;
  font-size: 20px;
  font-weight: 900;
  font-family: 'THSarabunPSK', sans-serif;
  text-decoration: none;
  margin-top: 18px;
}

.imgback-p2{
  width: auto;
  height: 60px;
  margin-top: 3px;
  text-decoration: none;
}

.button-group-p2{
    display: flex;
    text-decoration: none;
    margin-top:2px;
}

.back-btn-p2{
  background-color: #ffffff;
  width: 190px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 58px;
  text-decoration: none;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.hero-3 {
    position: absolute;
    top: 70%;
    left: 5%;
    z-index: 2;
}
.text-3 {
    font-size: 35px;
    position: absolute;
    top: 85%;
    left: 20%;
    display: inline-flex;
    color : white; 
    z-index: 2;
    text-align: center;
}
.mybox-3 {
    font-size: 35px;
    position: absolute ;
    top:80%;
    left: 0%;
    display: inline-flex;
    background-color: black;
    padding: 155px 100px 18px 2204px;
    opacity: 0.7;
    z-index: 1;
}
.next-p3 {
    font-size:30px;
    position: fixed;
    top: 87%;
    right: 3%;
    display: inline-flex;
    justify-content: center;
    color: white;
    z-index: 2;
    background-color:#0066CC;
    padding: 0px 30px;
    border-radius: 50px;
    align-items: center;
    text-decoration: none;
    gap: 00px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.next-p3:hover {
    background-color: #004080;
    cursor: pointer;
}
.news5{
    position: absolute;
    left: 13%;
    top: 23%;
    border-radius: 40px;

}
.tokjaiimg {
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 999;
}
.tokjaitext {
    position: absolute;
    font-size: 44px;
    left: 24%;
    top: 21%;
    z-index: 999;
}
.box-3 {
    font-size: 35px;
    position: absolute ;
    top:20%;
    left: 15%;
    display: inline-flex;
    background-color: #ffffff;
    padding: 10px 80px 80px 540px;
    z-index: 1;
    border-radius: 70px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}
.arrow {
    position: absolute;
    left: 55%;
    top: 40%;
    z-index: 999;
}
.hat-p3 {
    position: absolute;
    right: 3%;
    top: 35%;
    z-index: 9;
}
.donot {
    position: absolute;
    right: 10%;
    top: 32%;
    z-index: 999;
} 